html, body {
  height: 100%;
}

body {
  /*background: linear-gradient(to top left, powderblue, pink) no-repeat;*/
  background-color: white;
  margin: 0 !important;
}
p{
  margin: 0;
}
.default{
  position: relative;
}
.fixed{
  position: fixed;
}
.header-backgorund{
  background-color:  #0374b9;
  height: 70px;
  width: 100%;
  z-index: 10;
}
.header-backgorund h1{
  font-family: PTSans;
  color: #ffffff;
  font-size: 17px;
  font-style: italic;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
}
body h2{
  font-family: PTSans;
  color:  #0374b9;
  font-size: 17px;
  font-weight: 700;
  text-align: left;
}
.greenyear{
  font-family: PTSans;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  left: 5px;
  top: 15px;
}
.historyblock{
  border-left: 5px solid  #00b667;
  margin-left: 15px;
  padding-right: 0 !important;
  margin-right: 15px;
  width: auto !important;
}
#historypage{
    margin-top: 15px;
}
.historyblock img{
  position: relative;
  left: -20px;
  float: left;
}
.description{
  font-family: PTSans;
  color:  #3e3e3e;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
}
.header-burger-menu img{
  width: 25px;
  margin-top: 15px;
  position: relative;
  z-index: 200;
}
.header-burger-menu{
    padding-top: 10px;
}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.second_footer{
  text-align: center;
  background-color: #0374b9;
  height: 400px;
}
.second_footer img{
  width: 140px;
  margin: auto;
  height: 55px;
  margin-left: 25px;
}
.header-logo{
    padding-top: 10px;
}
.header-back img{
  width: 25px;
  margin-top: 15px;
  float: right;
  margin-right: 15px;
  position: relative;
  z-index: 100;
}
.header-logo img{
  width: 140px;
  height: 60px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  left: 25px;
}
.footer-backgorund{
  background-color: white;
  height: 105px;
  width: 100%;
  padding-top: 20px;
}
.footer-logo img{
  width: 140px;
  height: 60px;
}
.contact-form{
  text-align: center;
}
.contact-form button{
  background-color:  #ff3535;
  width: 130px;
  height: 28px;
  font-family: PTSans;
  color:  #ffffff;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
}
.contact-form p{
  font-family: PTSans;
  color:  #000000;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin-bottom: 10px
}
.menu-section{
  padding: 0 !important;
  width: 50%;
  overflow: hidden;
}
.menu-title{
  background-color: 	rgba(255,255,255,0.75);
  width: 100%;
  height: 41px;
  bottom: 0px;
  position: absolute;
  z-index: 5;
  padding: 5% 10% 10% 10%;
  text-align: center;
}
.menu-section img{
  overflow: hidden;
  width: 100%;
}
.menu-title p{
  font-family: PTSans;
  color:  #000000;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: auto;
  margin: 0;
  display: inline-block;
}

::-webkit-scrollbar {
    width: 3px;
   -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ed4545;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
